openapi: 3.0.1
info:
  title: School21 OpenAPI Specification
  version: v1
servers:
  - url: https://platform.21-school.ru/services/21-school/api
security:
  - Authorization: []
tags:
  - name: Campus
    description: Operations related to campuses
  - name: Cluster
    description: Operations related to clusters
  - name: Event
    description: Operations related to events
  - name: Sale
    description: Operations related to sale
  - name: Project
    description: Operations related to projects
  - name: Coalition
    description: Operations related to coalitions
  - name: Participant
    description: Operations related to participants
  - name: Course
    description: Operations related to courses
  - name: Graph
    description: Operations related to the graph
paths:
  /v1/sales:
    get:
      tags:
        - Sale
      summary: Returns current sales’ statuses within parallel
      operationId: getSales
      responses:
        '200':
          description: Sales information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/projects/{projectId}:
    get:
      tags:
        - Project
      summary: Returns project information by ID
      operationId: getProjectByProjectId
      parameters:
        - name: projectId
          in: path
          description: Project ID
          required: true
          schema:
            type: integer
            format: int64
          example: 123131
      responses:
        '200':
          description: Project information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/projects/{projectId}/participants:
    get:
      tags:
        - Project
      summary: Returns a list of participants by project ID
      operationId: getLoginsByProjectId
      parameters:
        - name: projectId
          in: path
          description: Project ID
          required: true
          schema:
            type: integer
            format: int64
          example: 123131
        - name: limit
          in: query
          description: Maximum number of records to be returned
          required: false
          schema:
            maximum: 1000
            minimum: 0
            type: integer
            format: int64
            default: 50
        - name: offset
          in: query
          description: Number of records to skip for pagination
          required: false
          schema:
            minimum: 0
            type: integer
            format: int64
            default: 0
        - name: status
          in: query
          description: Project status
          required: false
          schema:
            type: string
            enum:
              - ASSIGNED
              - REGISTERED
              - IN_PROGRESS
              - IN_REVIEWS
              - ACCEPTED
              - FAILED
        - name: campusId
          in: query
          description: Campus ID
          required: false
          schema:
            type: string
            format: uuid
          example: 96098f4b-5708-4c42-a62c-6893419169b3
      responses:
        '200':
          description: List of participants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantLoginsV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/participants/{login}:
    get:
      tags:
        - Participant
      summary: Returns basic participant information by login
      operationId: getParticipantByLogin
      parameters:
        - name: login
          in: path
          description: Login
          required: true
          schema:
            type: string
          example: bibikov-lukyan
      responses:
        '200':
          description: Basic participant information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/participants/{login}/workstation:
    get:
      tags:
        - Participant
      summary: Returns a participant workstation by login
      operationId: getParticipantWorkstationByLogin
      parameters:
        - name: login
          in: path
          description: Login
          required: true
          schema:
            type: string
          example: bibikov-lukyan
      responses:
        '200':
          description: Participant workstation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantWorkstationV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/participants/{login}/skills:
    get:
      tags:
        - Participant
      summary: Returns participant skill points by login
      operationId: getSoftSkillByLogin
      parameters:
        - name: login
          in: path
          description: Login
          required: true
          schema:
            type: string
          example: bibikov-lukyan
      responses:
        '200':
          description: Participant skill points
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantSkillsV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/participants/{login}/projects:
    get:
      tags:
        - Participant
      summary: Returns participant projects information by login
      operationId: getParticipantProjectsByLogin
      parameters:
        - name: login
          in: path
          description: Login
          required: true
          schema:
            type: string
          example: bibikov-lukyan
        - name: limit
          in: query
          description: Maximum number of records to be returned
          required: false
          schema:
            maximum: 1000
            minimum: 0
            type: integer
            format: int64
            default: 10
        - name: offset
          in: query
          description: Number of records to skip for pagination
          required: false
          schema:
            minimum: 0
            type: integer
            format: int64
            default: 0
        - name: status
          in: query
          description: Project status
          required: false
          schema:
            type: string
            enum:
              - ASSIGNED
              - REGISTERED
              - IN_PROGRESS
              - IN_REVIEWS
              - ACCEPTED
              - FAILED
      responses:
        '200':
          description: Participant projects information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantProjectsV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/participants/{login}/projects/{projectId}:
    get:
      tags:
        - Participant
      summary: Returns participant project information by ID
      operationId: getParticipantProjectByLoginAndProjectId
      parameters:
        - name: login
          in: path
          description: Login
          required: true
          schema:
            type: string
          example: bibikov-lukyan
        - name: projectId
          in: path
          description: Project ID
          required: true
          schema:
            type: integer
            format: int64
          example: 12311
      responses:
        '200':
          description: Participant projects information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantProjectV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/participants/{login}/points:
    get:
      tags:
        - Participant
      summary: Returns participant points information by login
      operationId: getPointsByLogin
      parameters:
        - name: login
          in: path
          description: Login
          required: true
          schema:
            type: string
          example: bibikov-lukyan
      responses:
        '200':
          description: Participant points
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantPointsV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/participants/{login}/logtime:
    get:
      tags:
        - Participant
      summary: Returns an average week logtime by login
      operationId: getLogWeeklyAvgHoursByLoginAndDate
      parameters:
        - name: login
          in: path
          description: Login
          required: true
          schema:
            type: string
          example: bibikov-lukyan
        - name: date
          in: query
          description: Date. The average logtime will be calculated for the week that includes the specified date. If not specified, the current date is used by default
          required: false
          schema:
            type: string
            format: date
          example: '2024-01-29'
      responses:
        '200':
          description: Average week logtime
          content:
            application/json:
              schema:
                type: number
                description: logtimeWeeklyAvgHours
                format: double
                example: 3.25
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/participants/{login}/feedback:
    get:
      tags:
        - Participant
      summary: Returns average participant feedback points by login
      operationId: getParticipantFeedbackByLogin
      parameters:
        - name: login
          in: path
          description: Login
          required: true
          schema:
            type: string
          example: bibikov-lukyan
      responses:
        '200':
          description: Average participant feedback points
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantFeedbackV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/participants/{login}/experience-history:
    get:
      tags:
        - Participant
      summary: Returns a list of participant XP accruals by login
      operationId: getXpHistoryByLogin
      parameters:
        - name: login
          in: path
          description: Login
          required: true
          schema:
            type: string
          example: bibikov-lukyan
        - name: limit
          in: query
          description: Maximum number of records to be returned
          required: false
          schema:
            maximum: 1000
            minimum: 0
            type: integer
            format: int64
            default: 50
        - name: offset
          in: query
          description: Number of records to skip for pagination
          required: false
          schema:
            minimum: 0
            type: integer
            format: int64
            default: 0
      responses:
        '200':
          description: List of participant XP accruals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantXpHistoryV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/participants/{login}/courses:
    get:
      tags:
        - Participant
      summary: Returns participant courses information by login
      operationId: getParticipantCoursesByLogin
      parameters:
        - name: login
          in: path
          description: Login
          required: true
          schema:
            type: string
          example: bibikov-lukyan
        - name: limit
          in: query
          description: Maximum number of records to be returned
          required: false
          schema:
            maximum: 1000
            minimum: 0
            type: integer
            format: int64
            default: 10
        - name: offset
          in: query
          description: Number of records to skip for pagination
          required: false
          schema:
            minimum: 0
            type: integer
            format: int64
            default: 0
        - name: status
          in: query
          description: Course status
          required: false
          schema:
            type: string
            enum:
              - ASSIGNED
              - REGISTERED
              - IN_PROGRESS
              - ACCEPTED
              - FAILED
      responses:
        '200':
          description: Participant courses information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantCoursesV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/participants/{login}/courses/{courseId}:
    get:
      tags:
        - Participant
      summary: Returns participant course information by ID
      operationId: getParticipantCourseByLoginAndCourseId
      parameters:
        - name: login
          in: path
          description: Login
          required: true
          schema:
            type: string
          example: bibikov-lukyan
        - name: courseId
          in: path
          description: Course ID
          required: true
          schema:
            type: integer
            format: int64
          example: 12311
      responses:
        '200':
          description: Participant course information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantCourseV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/participants/{login}/coalition:
    get:
      tags:
        - Participant
      summary: Returns participant coalition information by login
      operationId: getCoalitionByLogin
      parameters:
        - name: login
          in: path
          description: Login
          required: true
          schema:
            type: string
          example: bibikov-lukyan
      responses:
        '200':
          description: Participant coalition information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantCoalitionV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/participants/{login}/badges:
    get:
      tags:
        - Participant
      summary: Returns a list of participant badges by login
      operationId: getBadgesByLogin
      parameters:
        - name: login
          in: path
          description: Login
          required: true
          schema:
            type: string
          example: bibikov-lukyan
      responses:
        '200':
          description: List of participant badges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantBadgesV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/graph:
    get:
      tags:
        - Graph
      summary: Returns a participant projects map
      operationId: getGraph
      responses:
        '200':
          description: Participant projects map
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/events:
    get:
      tags:
        - Event
      summary: Returns a list of events
      operationId: getEvents
      parameters:
        - name: from
          in: query
          description: Date and time of start of the sample, inclusive (in UTC)
          required: true
          schema:
            type: string
            format: date-time
          example: '2024-01-23T00:00:00Z'
        - name: to
          in: query
          description: Date and time of end of the sample, inclusive (in UTC)
          required: true
          schema:
            type: string
            format: date-time
          example: '2024-01-24T00:00:00Z'
        - name: type
          in: query
          description: Event type
          required: false
          schema:
            type: string
            enum:
              - ACTIVITY
              - EXAM
              - TEST
        - name: limit
          in: query
          description: Maximum number of records to be returned
          required: false
          schema:
            maximum: 1000
            minimum: 0
            type: integer
            format: int64
            default: 50
        - name: offset
          in: query
          description: Number of records to skip for pagination
          required: false
          schema:
            minimum: 0
            type: integer
            format: int64
            default: 0
      responses:
        '200':
          description: List of events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/courses/{courseId}:
    get:
      tags:
        - Course
      summary: Returns course information by ID
      operationId: getCourseByCourseId
      parameters:
        - name: courseId
          in: path
          description: Course ID
          required: true
          schema:
            type: integer
            format: int64
          example: 123131
      responses:
        '200':
          description: Course information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/coalitions/{coalitionId}/participants:
    get:
      tags:
        - Coalition
      summary: Returns a list of participants in a coalition by ID
      operationId: getParticipantsByCoalitionId
      parameters:
        - name: coalitionId
          in: path
          description: Coalition ID
          required: true
          schema:
            type: integer
            format: int64
          example: 319
        - name: limit
          in: query
          description: Maximum number of records to be returned
          required: false
          schema:
            maximum: 1000
            minimum: 0
            type: integer
            format: int32
            default: 50
        - name: offset
          in: query
          description: Number of records to skip for pagination
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: List of participants in a coalition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantLoginsV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/clusters/{clusterId}/map:
    get:
      tags:
        - Cluster
      summary: Returns a cluster map
      operationId: getParticipantsByCoalitionId_1
      parameters:
        - name: clusterId
          in: path
          description: Cluster ID
          required: true
          schema:
            type: integer
            format: int64
          example: 825
        - name: limit
          in: query
          description: Maximum number of records to be returned
          required: false
          schema:
            maximum: 1000
            minimum: 0
            type: integer
            format: int32
            default: 50
        - name: offset
          in: query
          description: Number of records to skip for pagination
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: occupied
          in: query
          description: If true, occupied seats are returned. If false - only free seats are returned. If not specified - all seats are listed
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Cluster map
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterMapV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/campuses:
    get:
      tags:
        - Campus
      summary: Returns a list of campuses
      operationId: getCampuses
      responses:
        '200':
          description: List of campuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampusesV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/campuses/{campusId}/participants:
    get:
      tags:
        - Campus
      summary: Returns a list of participants in a campus by ID
      operationId: getParticipantsByCampusId
      parameters:
        - name: campusId
          in: path
          description: Campus ID
          required: true
          schema:
            type: string
            format: uuid
          example: ff19a3a7-12f5-4332-9582-624519c3eaea
        - name: limit
          in: query
          description: Maximum number of records to be returned
          required: false
          schema:
            maximum: 1000
            minimum: 0
            type: integer
            format: int64
            default: 50
        - name: offset
          in: query
          description: Number of records to skip for pagination
          required: false
          schema:
            minimum: 0
            type: integer
            format: int64
            default: 0
      responses:
        '200':
          description: List of participants in a campus
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantLoginsV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/campuses/{campusId}/coalitions:
    get:
      tags:
        - Campus
      summary: Returns a list of coalitions in a campus by ID
      operationId: getCoalitionsByCampus
      parameters:
        - name: campusId
          in: path
          description: Campus ID
          required: true
          schema:
            type: string
            format: uuid
          example: ff19a3a7-12f5-4332-9582-624519c3eaea
        - name: limit
          in: query
          description: Maximum number of records to be returned
          required: false
          schema:
            maximum: 1000
            minimum: 0
            type: integer
            format: int32
            default: 50
        - name: offset
          in: query
          description: Number of records to skip for pagination
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: List of coalitions in a campus
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoalitionsV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
  /v1/campuses/{campusId}/clusters:
    get:
      tags:
        - Campus
      summary: Returns a list of clusters in a campus by ID
      operationId: getClustersByCampus
      parameters:
        - name: campusId
          in: path
          description: Campus ID
          required: true
          schema:
            type: string
            format: uuid
          example: ff19a3a7-12f5-4332-9582-624519c3eaea
      responses:
        '200':
          description: List of clusters in a campus
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClustersV1DTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 400
                exceptionUUID: izP1aFojnJ
                code: BAD_REQUEST
                message: Limit must be positive number
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 403
                exceptionUUID: izP1aFojnJ
                code: FORBIDDEN
                message: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 404
                exceptionUUID: izP1aFojnJ
                code: NOT_FOUND
                message: Not found campus by id=ff19a3a7-12f5-4332-9582-624519c3eaea
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
              example:
                status: 500
                exceptionUUID: izP1aFojnJ
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
components:
  schemas:
    ErrorResponseDTO:
      required:
        - code
        - exceptionUUID
        - message
        - status
      type: object
      properties:
        status:
          type: integer
          description: status
          format: int32
        exceptionUUID:
          type: string
          description: a unique generated error code from the service
        code:
          type: string
          description: code
        message:
          type: string
          description: message
      description: ErrorResponseDTO
    SaleV1DTO:
      required:
        - status
        - type
      type: object
      properties:
        type:
          type: string
          description: Type of review points
          example: CRP
          enum:
            - PRP
            - CRP
        status:
          type: string
          description: Sale status
          example: PLANNED
          enum:
            - NON_ACTIVE
            - ACTIVE
            - PLANNED
        startDateTime:
          type: string
          description: Date and time of the sale start (UTC). Returns the value if the sale status equals PLANNED or ACTIVE. Otherwise returns null
          format: date-time
          nullable: true
          example: '2024-01-24T11:30:00Z'
        progressPercentage:
          type: integer
          description: Percentage of sale progress. Returns the value if the sale status equals ACTIVE. Otherwise returns null
          format: int32
          nullable: true
          example: 97
      description: Sale
    SalesV1DTO:
      required:
        - sales
      type: object
      properties:
        sales:
          type: array
          description: Array of sales data
          items:
            $ref: '#/components/schemas/SaleV1DTO'
      description: Sales
    ConditionRuleGroupV1DTO:
      required:
        - rulesInGroup
      type: object
      properties:
        logicalOperator:
          type: string
          description: A logical operator that connects the current group to the preceding condition groups. This value may be null when this is the first group within the structure.
          nullable: true
          example: 'null'
          enum:
            - OR
            - AND
        rulesInGroup:
          type: array
          description: An array of conditions that form a single group. These conditions are linked together using logical operators.
          items:
            $ref: '#/components/schemas/ConditionRuleV1DTO'
      description: A system of conditions for project completion, organized into groups that are combined using logical operators (AND or OR). Conditions within each group can also be linked by these operators. Each condition evaluates a parameter (like XP or project status) using comparison operators (IN, =, >, <).
      nullable: true
    ConditionRuleV1DTO:
      required:
        - value
      type: object
      properties:
        logicalOperator:
          type: string
          description: A logical operator that links the current condition to the preceding conditions within the group. This value may be null if this is the first condition in the group.
          nullable: true
          example: 'null'
          enum:
            - OR
            - AND
        value:
          $ref: '#/components/schemas/ConditionRuleValueV1DTO'
      description: Condition in the condition group
    ConditionRuleValueV1DTO:
      required:
        - fieldId
        - fieldName
        - operator
        - value
      type: object
      properties:
        fieldId:
          type: integer
          description: A unique identifier for the parameter being checked.
          format: int64
          example: 1
        fieldName:
          type: string
          description: 'The name of the parameter being checked. Examples: "Projects in status", "XP", "Skill", "Level", "Days on the course", "Project Cluster in status", "Retry is not available if project accepted/failed"'
          example: Projects in status
        subFieldKey:
          type: string
          description: 'The identifier for the subcategory of the parameter being checked (if applicable). Example of subcategory: clarification, such as which specific project status or skill is being checked.'
          nullable: true
          example: '1'
        subFieldValue:
          type: string
          description: |
            The value of the subcategory for the parameter being checked (if applicable), such as the project status or skill name. Status values ("REGISTERED/IN PROGRESS", "REVIEWING", "ACCEPTED", "NOT REGISTERED") can apply to parameters like "Project in status" or "Project Cluster in status"; skill names apply to the skill parameter; null if the parameter does not have a subcategory.
          nullable: true
          example: REGISTERED/IN PROGRESS
        operator:
          type: string
          description: 'The operator used to compare values or check if the value belongs to a specific set. Examples: "IN", ">", "<", "="'
          example: IN
        value:
          type: array
          description: An array of value objects to compare against. For such parameters as "Projects in status" and "Project Cluster in status," it may contain multiple project/course objects.
          items:
            $ref: '#/components/schemas/ConditionValueValueV1DTO'
      description: A condition object that contains information about the parameter to be evaluated and the value being checked.
    ConditionValueValueV1DTO:
      required:
        - key
      type: object
      properties:
        key:
          type: string
          description: The identifier or numeric value to be compared with the participant's value (e.g., project ID or skill points).
          example: '19885'
        value:
          type: string
          description: Parameter value. The name for projects or courses; null for numeric validation (e.g., XP or skill).
          nullable: true
          example: SQL_exam_test
      description: Array of condition values
    ProjectV1DTO:
      required:
        - description
        - durationHours
        - projectId
        - title
        - type
      type: object
      properties:
        projectId:
          type: integer
          description: Project ID
          format: int64
          example: 134411
        title:
          type: string
          description: Project name
          example: P01D06
        description:
          type: string
          description: Project description
          example: Learn to use a regex library
        durationHours:
          type: integer
          description: Project duration (in hours)
          format: int32
          example: 20
        xp:
          type: integer
          description: XP per Project
          format: int32
          nullable: true
          example: 200
        type:
          type: string
          description: Project type
          example: GROUP
          enum:
            - INDIVIDUAL
            - GROUP
            - EXAM
            - EXAM_TEST
            - INTERNSHIP
        startConditions:
          type: array
          description: Array of condition group objects
          nullable: true
          items:
            $ref: '#/components/schemas/ConditionRuleGroupV1DTO'
        courseId:
          type: integer
          description: Course ID
          format: int64
          nullable: true
          example: 452341
      description: Project
    ParticipantLoginsV1DTO:
      required:
        - participants
      type: object
      properties:
        participants:
          type: array
          description: Array of participant logins
          items:
            type: string
            example: bibikov-lukyan
      description: Participant logins
    ParticipantCampusV1DTO:
      required:
        - id
        - shortName
      type: object
      properties:
        id:
          type: string
          description: Campus ID
          format: uuid
          example: ff19a3a7-12f5-4332-9582-624519c3eaea
        shortName:
          type: string
          description: Short campus name
          example: Hogwarts
      description: Participant Campus
    ParticipantV1DTO:
      required:
        - campus
        - expToNextLevel
        - expValue
        - level
        - login
        - status
      type: object
      properties:
        login:
          type: string
          description: Participant login
          example: bibikov-lukyan
        className:
          type: string
          description: Participant class name (wave)
          nullable: true
          example: ADONIS
        parallelName:
          type: string
          description: Participant parallel name (edu form)
          nullable: true
          example: Core program
        expValue:
          type: integer
          description: Experience points
          format: int64
          example: 100
        level:
          type: integer
          description: Participant level
          format: int32
          example: 0
        expToNextLevel:
          type: integer
          description: Number of experience points to the next level
          format: int64
          example: 399
        campus:
          $ref: '#/components/schemas/ParticipantCampusV1DTO'
        status:
          type: string
          description: Participant status
          example: Active
          enum:
            - ACTIVE
            - TEMPORARY_BLOCKING
            - EXPELLED
            - BLOCKED
            - FROZEN
            - STUDY_COMPLETED
      description: Participant
    ParticipantWorkstationV1DTO:
      required:
        - clusterId
        - clusterName
        - number
        - row
      type: object
      properties:
        clusterId:
          type: integer
          description: Cluster ID
          format: int64
          example: 854
        clusterName:
          type: string
          description: Cluster name
          example: Ocean
        row:
          type: string
          description: Row of a workplace
          example: a
        number:
          type: integer
          description: Number of a workplace
          format: int32
          example: 24
      description: Participant Workstation
    ParticipantSkillV1DTO:
      required:
        - name
        - points
      type: object
      properties:
        name:
          type: string
          description: Skill name
          example: Java
        points:
          type: integer
          description: Skill points
          format: int32
          example: 80
      description: Participant Skill
    ParticipantSkillsV1DTO:
      required:
        - skills
      type: object
      properties:
        skills:
          type: array
          description: Array of skills
          items:
            $ref: '#/components/schemas/ParticipantSkillV1DTO'
      description: Participant Skills
    ParticipantProjectV1DTO:
      required:
        - id
        - status
        - title
        - type
      type: object
      properties:
        id:
          type: integer
          description: Project ID
          format: int64
          example: 13453
        title:
          type: string
          description: Project name
          example: String+
        type:
          type: string
          description: Project type
          example: INDIVIDUAL
          enum:
            - INDIVIDUAL
            - GROUP
            - EXAM
            - EXAM_TEST
            - INTERNSHIP
        status:
          type: string
          description: Project status
          example: REGISTERED
          enum:
            - ASSIGNED
            - REGISTERED
            - IN_PROGRESS
            - IN_REVIEWS
            - ACCEPTED
            - FAILED
        finalPercentage:
          type: integer
          description: Final percentage of completion
          format: int32
          nullable: true
          example: 110
        completionDateTime:
          type: string
          description: Date and time of the last completion (UTC)
          format: date-time
          nullable: true
          example: '2024-01-23T00:00:00Z'
        teamMembers:
          type: array
          description: Team members of the last attempt
          nullable: true
          items:
            $ref: '#/components/schemas/TeamMemberV1DTO'
        courseId:
          type: integer
          description: ID of the course where the project is located
          format: int64
          nullable: true
          example: 452341
      description: Participant Project
    ParticipantProjectsV1DTO:
      required:
        - projects
      type: object
      properties:
        projects:
          type: array
          description: Array of projects
          items:
            $ref: '#/components/schemas/ParticipantProjectV1DTO'
      description: Participant Projects
    TeamMemberV1DTO:
      required:
        - isTeamlead
        - login
      type: object
      properties:
        login:
          type: string
          description: Team member login
          example: yanchin-kim
        isTeamlead:
          type: boolean
          description: Team member role
          example: true
      description: Team Member
      nullable: true
    ParticipantPointsV1DTO:
      required:
        - codeReviewPoints
        - coins
        - peerReviewPoints
      type: object
      properties:
        peerReviewPoints:
          type: integer
          description: Participant’s number of Peer Review Points
          format: int32
          example: 10
        codeReviewPoints:
          type: integer
          description: Participant’s number of Code Review Points
          format: int32
          example: 5
        coins:
          type: integer
          description: Participant’s number of coins
          format: int32
          example: 4
      description: Participant Points
    ParticipantFeedbackV1DTO:
      type: object
      properties:
        averageVerifierPunctuality:
          type: number
          description: Average punctuality score for a peer review
          format: double
          nullable: true
          example: 4
        averageVerifierInterest:
          type: number
          description: Average interest score for a peer review
          format: double
          nullable: true
          example: 3.27
        averageVerifierThoroughness:
          type: number
          description: Average thoroughness score for a peer review
          format: double
          nullable: true
          example: 3.99
        averageVerifierFriendliness:
          type: number
          description: Average friendliness score for a peer review
          format: double
          nullable: true
          example: 3.5
      description: Participant Feedback
    ParticipantXpHistoryItemV1DTO:
      required:
        - accrualDateTime
        - expValue
      type: object
      properties:
        expValue:
          type: integer
          description: XP value
          format: int64
          example: 100
        accrualDateTime:
          type: string
          description: Date and time of XP accrual (UTC)
          format: date-time
          example: '2024-01-24T00:00:00Z'
      description: Xp History Item
    ParticipantXpHistoryV1DTO:
      required:
        - expHistory
      type: object
      properties:
        expHistory:
          type: array
          description: Array of xp history items
          items:
            $ref: '#/components/schemas/ParticipantXpHistoryItemV1DTO'
      description: Xp History
    ParticipantCourseV1DTO:
      required:
        - id
        - status
        - title
      type: object
      properties:
        id:
          type: integer
          description: Course ID
          format: int64
          example: 341241
        title:
          type: string
          description: Course name
          example: SQL Bootcamp
        status:
          type: string
          description: Course status
          example: REGISTERED
          enum:
            - ASSIGNED
            - REGISTERED
            - IN_PROGRESS
            - ACCEPTED
            - FAILED
        finalPercentage:
          type: integer
          description: Final percentage of completion
          format: int32
          nullable: true
          example: 21
        completionDateTime:
          type: string
          description: Date and time of the last completion (UTC)
          format: date-time
          nullable: true
          example: '2024-01-23T00:00:00Z'
      description: Participant Course
    ParticipantCoursesV1DTO:
      required:
        - courses
      type: object
      properties:
        courses:
          type: array
          description: Array of courses
          items:
            $ref: '#/components/schemas/ParticipantCourseV1DTO'
      description: Participant Courses
    ParticipantCoalitionV1DTO:
      required:
        - coalitionId
        - name
      type: object
      properties:
        coalitionId:
          type: integer
          description: Coalition ID
          format: int64
          example: 319
        name:
          type: string
          description: Coalition name
          example: Capybaras
        rank:
          type: integer
          description: Rank of the participant
          format: int32
          example: 20
      description: Participant Coalition
    ParticipantBadgeV1DTO:
      required:
        - iconUrl
        - name
        - receiptDateTime
      type: object
      properties:
        name:
          type: string
          description: Badge name
          example: Cheat
        receiptDateTime:
          type: string
          description: Date and time of the receipt (UTC)
          format: date-time
        iconUrl:
          type: string
          description: URL of the badge icon
          example: /public_any/b195ab4d-9587-4e29-9de0-ff33a8d8913e?path=badges/Cheater.png
      description: Participant Badge
    ParticipantBadgesV1DTO:
      required:
        - badges
      type: object
      properties:
        badges:
          type: array
          description: Array of badges
          items:
            $ref: '#/components/schemas/ParticipantBadgeV1DTO'
      description: Participant Badges
    GraphEdgeV1DTO:
      required:
        - id
        - source
        - sourceHandle
        - target
        - targetHandle
      type: object
      properties:
        id:
          type: string
          description: Edge ID
          example: d24d3bd24d3b-jh75ii-left-jh5fa4jh5fa4-da8784-right
        source:
          type: string
          description: Source node ID
          example: d24d3b
        target:
          type: string
          description: Target node ID
          example: jh5fa4
        sourceHandle:
          type: string
          description: Source handle ID
          example: d24d3b-jh75ii-left
        targetHandle:
          type: string
          description: Target handle ID
          example: jh5fa4-da8784-right
      description: Graph edge
    GraphNodeItemV1DTO:
      required:
        - code
        - entityId
        - entityType
        - handles
        - id
      type: object
      properties:
        id:
          type: string
          description: Node item ID
          example: d24d3b-jh75ii
        code:
          type: string
          description: Node item code in the graph
          example: APP5
        handles:
          uniqueItems: true
          type: array
          description: Handles for connecting node items
          items:
            type: string
            example: d24d3b-jh75ii-left
        entityType:
          type: string
          description: Node item type
          example: PROJECT
          enum:
            - PROJECT
            - COURSE
        entityId:
          type: integer
          description: ID of the entity linked to the node item
          format: int64
          example: 12879
      description: Graph node item
    GraphNodeV1DTO:
      required:
        - id
        - items
        - label
      type: object
      properties:
        id:
          type: string
          description: Node ID
          example: d24d3b
        label:
          type: string
          description: Node name
          example: APP
        items:
          type: array
          description: Node items
          items:
            $ref: '#/components/schemas/GraphNodeItemV1DTO'
      description: Graph node
    GraphV1DTO:
      required:
        - edges
        - nodes
      type: object
      properties:
        nodes:
          type: array
          description: Array of graph nodes
          items:
            $ref: '#/components/schemas/GraphNodeV1DTO'
        edges:
          type: array
          description: Array of graph edges
          items:
            $ref: '#/components/schemas/GraphEdgeV1DTO'
      description: Graph
    EventV1DTO:
      required:
        - capacity
        - endDateTime
        - id
        - location
        - name
        - registerCount
        - startDateTime
        - type
      type: object
      properties:
        id:
          type: integer
          description: Event ID
          format: int64
          example: 312
        type:
          type: string
          description: Event type
          example: Workshop
        name:
          type: string
          description: Event name
          example: Clay modeling tutorial
        description:
          type: string
          description: Event description
          nullable: true
          example: We'll learn how to make a bowl out of clay
        location:
          type: string
          description: Location of the event
          example: Ocean cluster
        startDateTime:
          type: string
          description: Date and time of the start of the event (UTC)
          format: date-time
          example: '2024-01-24T10:00:00Z'
        endDateTime:
          type: string
          description: Date and time of the end of the event (UTC)
          format: date-time
          example: '2024-01-24T10:00:00Z'
        organizers:
          type: array
          description: Array of strings with the logins of the organizing participants
          nullable: true
          items:
            type: string
            nullable: true
            example: bibikov_lukyan
        capacity:
          type: integer
          description: Maximum number of participants who can register for the event
          format: int32
          example: 20
        registerCount:
          type: integer
          description: Current number of participants registered for the event
          format: int32
          example: 10
      description: Event
    EventsV1DTO:
      required:
        - events
      type: object
      properties:
        events:
          type: array
          description: Array of events
          items:
            $ref: '#/components/schemas/EventV1DTO'
      description: Events
    CourseV1DTO:
      required:
        - courseId
        - description
        - durationHours
        - title
        - xp
      type: object
      properties:
        courseId:
          type: integer
          description: Course ID
          format: int64
          example: 123131
        title:
          type: string
          description: Course name
          example: SQL Bootcamp
        description:
          type: string
          description: Course description
          example: A group of projects to master SQL syntax.
        durationHours:
          type: integer
          description: Course duration (in hours)
          format: int32
          example: 30
        xp:
          type: integer
          description: XP per course
          format: int32
          example: 1500
        startConditions:
          type: array
          description: Array of condition group objects
          nullable: true
          items:
            $ref: '#/components/schemas/ConditionRuleGroupV1DTO'
      description: Course
    ClusterMapV1DTO:
      required:
        - clusterMap
      type: object
      properties:
        clusterMap:
          type: array
          description: Array of cluster places
          items:
            $ref: '#/components/schemas/WorkplaceV1DTO'
      description: Cluster map
    WorkplaceV1DTO:
      required:
        - number
        - row
      type: object
      properties:
        row:
          type: string
          description: Row of a workplace
          example: a
        number:
          type: integer
          description: Number of a workplace
          format: int32
          example: 24
        login:
          type: string
          description: Login of the participant occupying the place
          nullable: true
          example: bibikov-lukyan
      description: Workplace
    CampusV1DTO:
      required:
        - fullName
        - id
        - shortName
      type: object
      properties:
        id:
          type: string
          description: Campus ID
          format: uuid
          example: ff19a3a7-12f5-4332-9582-624519c3eaea
        shortName:
          type: string
          description: Short campus name
          example: Hogwarts
        fullName:
          type: string
          description: Full campus name
          example: Hogwarts School of Witchcraft and Wizardry
      description: Campus
    CampusesV1DTO:
      required:
        - campuses
      type: object
      properties:
        campuses:
          type: array
          description: Array of campus objects
          items:
            $ref: '#/components/schemas/CampusV1DTO'
      description: Campuses
    CoalitionV1DTO:
      required:
        - coalitionId
        - name
      type: object
      properties:
        coalitionId:
          type: integer
          description: Coalition ID
          format: int64
          example: 319
        name:
          type: string
          description: Coalition name
          example: Capybaras
      description: Coalition
    CoalitionsV1DTO:
      required:
        - coalitions
      type: object
      properties:
        coalitions:
          type: array
          description: Array of coalition objects
          items:
            $ref: '#/components/schemas/CoalitionV1DTO'
      description: Coalitions
    ClusterV1DTO:
      required:
        - availableCapacity
        - capacity
        - floor
        - id
        - name
      type: object
      properties:
        id:
          type: integer
          description: Cluster ID
          format: int64
          example: 824
        name:
          type: string
          description: Cluster name
          example: Ocean
        capacity:
          type: integer
          description: Cluster capacity
          format: int32
          example: 30
        availableCapacity:
          type: integer
          description: Number of available seats
          format: int32
          example: 22
        floor:
          type: integer
          description: The floor where the cluster is located
          format: int32
          example: 2
      description: Cluster
    ClustersV1DTO:
      required:
        - clusters
      type: object
      properties:
        clusters:
          type: array
          description: Array of cluster objects
          items:
            $ref: '#/components/schemas/ClusterV1DTO'
      description: Clusters
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
